<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
    <p>
        Hello! I am a software developer with specialties in low-level development and machine learning.
        <br>
        <br>
        I also have experience developing web applications, including front-end, back-end, and databases.
        <br>
        <br>
        On the academic side of my interests, I am passionate about computational models of learning in general, and reinforcement learning in particular.
    </p>
     
</div>